Components
packages
Resource.designer.cs

bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx

*_ReSharper.*/
*.suo
*.apk
*.mdb
*.dll
*.pdb
*.xsd
*.class
*.java
*.cache
*.mdb
*.pdb
*.dll
*.dll
*.sln
*.apk
*.mdb
*.pdb
Moviestar/.vs/Moviestar/v15/.suo
Moviestar/.vs/Moviestar/v15/.suo
*.dll
*.mdb
*.pdb
*.apk
*.txt
*.targets
*.cache
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/MainPage.g.i.cs
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/App.g.i.cs
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/XamlSaveStateFile.xml
*.json
*.cache
*.dll
*.mdb
*.pdb
*.mdb
*.apk
*.dll
*.mdb
*.pdb
*.mdb
*.apk
*.dll
*.pdb
Moviestar/.vs/Moviestar/v15/.suo
*.dex
*.class
*.java
*.cache
Moviestar/Moviestar/Moviestar.Android/obj/Debug/android/bin/packaged_resources
*.txt
*.xsd
*.htm
Moviestar/Moviestar/Moviestar.Android/Resources/Resource.designer.cs
Moviestar/.vs/Moviestar/v15/.suo
*.apk
*.dll
*.mdb
*.pdb
*.txt
*.dex
*.class
Moviestar/Moviestar/Moviestar.Android/obj/Debug/android/bin/packaged_resources
*.java
*.jm
*.mj
*.cache
*.xsd
Moviestar/Moviestar/Moviestar.Android/obj/Debug/android/manifest/AndroidManifest.xml
Moviestar/Moviestar/Moviestar.Android/bin/Debug/Moviestar.Android.apk
*.apk
Moviestar/Moviestar/Moviestar.Android/bin/Debug/Moviestar.Android.apk
