Components
packages
Resource.designer.cs

bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx

*_ReSharper.*/
*.suo
*.apk
*.mdb
*.dll
*.pdb
*.xsd
*.class
*.java
*.cache
*.apk
*.dll
Moviestar/.vs/Moviestar/v15/.suo
*.mdb
*.pdb
*.dll
*.dll
*.sln
*.apk
*.mdb
*.pdb
Moviestar/.vs/Moviestar/v15/.suo
Moviestar/.vs/Moviestar/v15/.suo
*.dll
*.mdb
*.pdb
*.apk
*.txt
*.targets
*.cache
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/MainPage.g.i.cs
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/App.g.i.cs
Moviestar/Moviestar/Moviestar.UWP/obj/x86/Debug/XamlSaveStateFile.xml
*.json
*.cache
*.dll
*.mdb
*.pdb
